.input {
    height: 32px;
    margin: 10px;
}
.input__item:focus-within + .focus-indicator {
    width: 100%;
}

.input__item {
    outline: none;
    border: none;
    height: 100%;
    padding: 0 0 0 8px;
    border: 1px solid #d0d3d9;
    border-radius: 5px;
    background-color: #fbfcfd;
}

.input__item:focus {
    background-color: #fff;
}

.focus-indicator {
    height: 2px;
    width: 0;
    background-color: #006BB4;
    transition: width 200ms linear;
}